@import './variabes';
body {
  background-color: rgb(235, 232, 232);
  header {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    background-color: rgb(44, 65, 111);
    padding: 0.4em;
    margin-bottom: 1em;
  }
  form {
    margin: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  input {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  form > div {
    margin: auto;
  }

  button {
    font-size: 1.5em;
    width: 3em;
    margin: auto;
    margin-bottom: 1em;
  }

  input[type='radio']:checked + label {
    padding: 10px;
    color: white;
    background-color: rgb(44, 65, 111);
  }

  .apiData {
    margin-top: 2em;
    margin-left: 30%;
    background-color: white;
    width: 640px;
  }
}
